<!doctype html>
<html lang="en">

<head>
{% include "./firebaseSDKs.html" %}
	<link rel="stylesheet" href="./css/tag-display.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="../js/bootstrap.bundle.min.js">
	</script>
	<link rel="stylesheet" href="../css/home.css">
  <link rel="stylesheet" href="../css/404.css">
  <link rel="stylesheet" href="../css/light-theme.css">


	
	<title>Pleas - Help!</title>

	<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
		}

		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}
	</style>
</head>

<body>
	{% include "./header.html" %}

<main style = "margin: 20px;">

<div id="main">
    	<div class="fof">
        		<h1 id = "fof"></h1>
        <div class = "body">
        <p id = "body">
        </p>
        </div>
        <div class = "buttons">
          <p>If you think this is an error, <a href = "/contact">Contact Us</a>. <br>Handy Links:</p>
          <a class = "btn btn-primary" href = "/">Go home</a> or <a href = "/search" class = "btn btn-primary">search for a plea</a>
    </div>
    	</div>
</div>
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    {% include "./footer.html" %}
  </footer>
  <script src="../js/404.js"></script>
</main>
</body>