<!doctype html>
<html lang="en">

<head>
	{% include "./firebaseSDKs.html" %}

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

	<link rel="stylesheet" href="/css/home.css">
	<link rel="stylesheet" href="/css/light-theme.css">
	
	<title>Help! - Accept</title>

	<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
		}

		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}
	</style>
</head>

<body>
{% include "./header.html" %}
<main style = "margin: 20px;">
  <div class = "text-center"><h1 class = "display-3">{{ message }}</h1>
  {% if success %}
    <p class = "text-muted">{{ errorText }}</p>
  {% else %}
    <p class = "text-muted">You have succesfully accepted <i>{{ accepted }}</i> help you work on <i>{{ pleaTitle }}</i>. He should join you on your repl soon.</p>
  {% endif %}
  </div>
  <footer class="container">
    {% include "./footer.html" %}
  </footer>
</main>
</body>
</html>