<!doctype html>
<html lang="en">

<head>
	{% include "./firebaseSDKs.html" %}

	<meta name="theme-color" content="#9C9898">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel='stylesheet' href='./css/sign.css'>
	<meta name="description" content="Login to Help to use help.">
	<meta name="author" content="SoJS">

	<title>Help! - Log In</title>


	<link href="./css/bootstrap.min.css" rel="stylesheet">
	<link href="./css/home.css" rel="stylesheet">
	<link href="./css/sign.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	{% include "./header.html" %}


	<div class="signup-form">
		<form method="post" action="/login" class="form" id="form">
			<h2>Log In</h2>
			<p>Log In to start helping!</p>
			<hr>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">
						<span class="fa fa-user"></span>
            <input type="text" class="form-control" name="username" placeholder="Username" required="required" autofocus>   
					</span> 
                          
				</div>
				
			</div>
        </div>
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-lock"></i>
            <input type="password" class="form-control" name="password" placeholder="Password" required="required">
					</span> 
                             
				</div>
				
			</div>
      </div>
		<p id = "errorMessage">&nbsp</p>
		<div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">Log In</button>
        </div>
        
    </form>
	<div class="text-center">Don't have an account? <a href="/signup">Sign Up here</a></div>
</div>
  

    <footer class="container">
      {% include "./footer.html" %}
  </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src = "./js/doesnotmatch.js"></script>
  </body>
</html>