<html lang="en">
<head>
{% include "./firebaseSDKs.html" %}

  <meta charset="UTF-8">
  <meta name="robots" content="nofollow">
  <meta name = "author" content = "SoJS">
  <meta name = "description" content = "{{ author }} is asking for help on {{ title }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel = "stylesheet" href="/css/kothing.css"/>
<link rel="stylesheet" href = "/css/home.css">
<link rel="stylesheet" href="/css/plea.css"/>
<link href="/css/light-theme.css" rel="stylesheet">
  <title>{{ title }}</title>
  
<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
		}

		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}
	</style>
    

</head>
<body>
   {% include "./header.html" %}

  <div class = "container">
    <div class="col-md-12">
      <h1>{{ title }}</h1>
      <h4 class = "text-muted"><a href = "/@{{ author }}">@{{ author }}</a></h4>
      
      <p class = "des">{{ des|safe }}</p>
        {% if owner %}
        {% if joined %}
          
            <a  class = "btn btn-secondary" href="#"  disabled style = "cursor: not-allowed">Joined</a>
        {% else %}
          <form action = "/join/{{ id }}" method = "POST">
            <input type="submit" class = "btn btn-primary" value="Join!">
          </form>
        {% endif %}    
        {% else %}
        <a href = "/edit/{{ id }}" class = "btn btn-primary">Edit</a>
        {% endif %}    
      
    <div>
      <h3>People Joined:</h3>
      <ul>
      {% for x in users %}
      <li>@{{ x }}</li>
      {% endfor%}
      </ul>
      
  </div>
  <div id="wpac-comment"></div>
<script type="text/javascript">
wpac_init = window.wpac_init || [];
wpac_init.push({widget: 'Comment', id: 30312});
(function() {
    if ('WIDGETPACK_LOADED' in window) return;
    WIDGETPACK_LOADED = true;
    var mc = document.createElement('script');
    mc.type = 'text/javascript';
    mc.async = true;
    mc.src = 'https://embed.widgetpack.com/widget.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(mc, s.nextSibling);
})();
</script>
<h6 class = "h1"> We are adding our own comment system. Preview below</h6>
{% include "./comments.html" %}
<footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    {% include "./footer.html" %}
  </footer>
</body>
</html>