<!doctype html>
<html lang="en">

<head>
	{% include "./firebaseSDKs.html" %}

  <meta name = "author" content = "SoJS">
  <meta name = "description" content = "A nice list of all pleas for help.">
	<link rel="stylesheet" href="./css/tag-display.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="../js/bootstrap.bundle.min.js">
	</script>
	<link rel="stylesheet" href="../css/home.css">
	<link rel="stylesheet" href="./css/pleas-search.css">
  <link href="./css/dark-theme.css" rel="stylesheet">
	
	<title>Pleas - Help!</title>

	<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
		}

		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}
	</style>
</head>

<body  class = "bgdark">
	{% include "./header.html" %}


<main style = "margin: 20px; color: #eee;">

  
  
  <div style = "text-align: center;  padding-bottom: 6px; width: 50%;position: relative; left: 25%; right: 25%;"><h1 class = "display-3" >Pleas</h1>
  <p>Looking for pleas? Browsing? Try <a href = "/search">searching</a> for a plea. Or, just scroll down to see more.</p>
  <span  class = "text-muted">Search for a plea</span>
  <form action = "search" method = "GET" class = "form-inline">
    <div class="form-group mx-sm-3 mb-2">
    <input class="form-control" id="q" placeholder="Search"  name = "q">
    <span class = "text-muted">Separate Tags with spaces. Enter to search</span>
    </div>
  </div>
  
  </form>
  <div class = "container-fluid">
  <!-- Cards -->
  {% for plea in pleas %}
    <div class="card-body">
      <h6 class="card-title h5">{{ plea.title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">@{{ plea.author }}</h6>
      <p class="card-text">{{ plea.shortDes }}</p>
      <p class = "text-muted">Tags</p>
      <ul class = "tags">
      {% for tag in plea.tags %}
        <a href = "/search?q={{ tag }}"><li class = "tag">{{ tag }}</li></a>
      {% endfor %}
      </ul>
      <a href="/plea/{{ plea.key }}" class="btn btn-primary">View</a>
      </div>
      <hr>
  {% endfor %}
  </div>
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    {% include "./footer.html" %}
  </footer>
</main>
</body>