<html lang="en">
<head>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyCqqICGwZx5cheh2FRN2_emWDFmx1RzRE8",
    authDomain: "help-38d77.firebaseapp.com",
    projectId: "help-38d77",
    storageBucket: "help-38d77.appspot.com",
    messagingSenderId: "89380496627",
    appId: "1:89380496627:web:770b5af07afa24535fc386",
    measurementId: "G-50JHBCK55T"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
  <meta charset="UTF-8">
  <meta name="robots" content="nofollow">
  <meta name = "author" content = "SoJS">
  <meta name = "description" content = "{{ author }} is asking for help on {{ title }}"
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel = "stylesheet" href="../css/kothing.css"/>
<script src="../js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href = "../css/home.css">
<link rel="stylesheet" href="../css/plea.css"/>
<link href="../css/light-theme.css" rel="stylesheet">
  <title>{{ title }}</title>
  
<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
		}

		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}
	</style>
    

</head>
<body>
   {% include "./header.html" %}

  <div class = "container">
    <div class="col-md-12">
      <h1>{{ title }}</h1>
      <h4 class = "text-muted">@{{ author }}</h4>
      
      <p class = "des">{{ des|safe }}</p>
        {% if owner %}
        {% if joined %}
          
            <a  class = "btn btn-secondary" href="#"  disabled style = "cursor: not-allowed">Joined</a>
        {% else %}
          <form action = "/join/{{ id }}" method = "POST">
            <input type="submit" class = "btn btn-primary" value="Join!">
          </form>
        {% endif %}    
        {% else %}
        <a href = "/edit/{{ id }}" class = "btn btn-primary">Edit</a>
        {% endif %}    
      
    <div>
      <h3>People Joined:</h3>
      <ul>
      {% for x in users %}
      <li>@{{ x }}</li>
      {% endfor%}
      </ul>
      
  </div>
  <div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    var PAGE_URL = "https://help.sojs.repl.co/plea/{{ id }}"
    var PAGE_IDENTIFIER = "{{ id }}"
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://help-0.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">Comments by <u>Disqus</u></a></noscript>
<script id="dsq-count-scr" src="//help-0.disqus.com/count.js" async></script>
<footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    {% include "./footer.html" %}
  </footer>
</body>
</html>