<!doctype html>
<html lang="en">

<head>
	<!-- The core Firebase JS SDK is always required and must be listed first -->
	<script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-app.js">
	</script>

	<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
	<script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-analytics.js">
	</script>

	<script>
		// Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyCqqICGwZx5cheh2FRN2_emWDFmx1RzRE8",
    authDomain: "help-38d77.firebaseapp.com",
    projectId: "help-38d77",
    storageBucket: "help-38d77.appspot.com",
    messagingSenderId: "89380496627",
    appId: "1:89380496627:web:770b5af07afa24535fc386",
    measurementId: "G-50JHBCK55T"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();

	</script>
	<meta name="theme-color" content="#9C9898">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel='stylesheet' href='./css/sign.css'>
	<meta name="description" content="">
	<meta name="author" content="SoJS">

	<title>Help! - Verify</title>


	<link href="./css/bootstrap.min.css" rel="stylesheet">
	<link href="./css/home.css" rel="stylesheet">
	<link href="./css/sign.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
{% include "./header.html" %}
<div class = "signup-form">
<form action="#"class = "form">
		<h2>Verify Your Identity</h2>
		<p>Before you can post on help, we need to know who you are.</p>
		<hr>
		<div class="form-group">
            <button class="btn btn-primary btn-lg" id = "auth" >Verify</button>
        </div>
    </form>
</div>
  

    <footer class="container">
    
     {% include "./footer.html" %}
  </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="./js/bootstrap.bundle.min.js"></script>
     <script src = "./js/authpop.js">
    </script> 
  </body>
</html>