a{
  color: lightblue;
  text-decoration: none !important;
}
a:hover{
  color: lightblue;
  text-decoration: underline;
}
body{
  background-color: #03030e !important;
}
.text-muted{
  color: #cdcdcd;
}
iframe{
  border: 1px solid white;
}

input,.cards,.container,main,body,article,footer,iframe{
  color: #eee !important;
  background-color: #03030e !important;
}
.unread{
  background-color: #252525 !important;
  color: rgb(209, 208, 208);
  border-radius: 6px;
  margin: 6px;
  border: none;
}
.not-looking-for{
  text-emphasis: emphasis;
  color: #fff;
  font-weight: bold;
  font-size: 3vh;
}
.headerdiv{
  background-color: #03030e !important;
}
.bgdark{
  background-color: #03030e !important;
}
